body {
    padding: 0px;
    margin: 0px;
}

/*about me styling*/
.about {
	background-image: url('../images/gray.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.header_top {
	width: 100%;
	height: 90px;
	/*background-color: #1f6777;*/
	background-image: url(../images/what1.jpg);
	border-bottom: none;
	/*border-bottom: 3px solid #6f0636;*/
}

.header_top #typewrite {
	position: relative; 
	top: -65px; 
	left: 32%; 
	z-index: 10; 
	/*text-align: right;*/
	color: whitesmoke;
	font-family: 'Verdana', sans-serif;
	font-size: 0.9em;
	text-align: center;
}

.header_top #typewrite1 {
	position: relative; 
	top: -65px; 
	left: 32%; 
	z-index: 10;  
	color: whitesmoke;
	font-family: 'Verdana', sans-serif;
	font-size: 0.9em;

}


.main_image {
	width: 100px;
	height: auto;
	margin-left: 10px; 
	position: relative;
	top: 48px;
	z-index: 100;
}

main {
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 3.8em;
	width: 94%;
	height: auto;	
    padding: 0 3% 20px 3%;
	
	background-color: transparent; /*#040923; /*#f5adad*/
	/*background-image: url('../images/gray.jpg');
	background-size: cover;*/
	
	/*box-shadow: inset 0px 0px 8px 5px rgba(255,255,255, 0.4);*/
}

.profile_content {
	text-align: justify;
	font-family: 'Verdana', sans-serif;
	color: whitesmoke /*#384249*/;
	width: 100%;
	height: auto;
	vertical-align: top;
	display: inline-block;
}

.profile_title {
    font-weight: bold;
	font-size: 1.6em;
	margin-top: 5px;
	margin-bottom: 18px;
	font-family: 'Verdana', sans-serif;
	color: whitesmoke;
	text-align: center;
}

.skills {
	text-align: left;
	font-family: 'Verdana', sans-serif;
	color: whitesmoke;
	width: 100%;
	height: auto;
	margin-top: 32px; 
	padding-top: 8px; 
	border-top: 2px solid #126284;
	display: inline-block;
}

/*.skills:after {
	content: "";
    display: table;
    clear: both;
}*/

#skills {
  max-width: 768px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: #0f5370;
}

#skills article {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 50%;
  /*margin-bottom: -5px;*/ 
}

#skills article img {
	height: auto;
	width: 100%;
	border: 2px solid #126284;
	/*padding-bottom: 1%;*/
}

/*#skills article:hover {
    transform: scale(1.1);
    transition: .2s;
}*/

/*images flipper*/
.flip-container {
	perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

#skills article p {
	padding: 12% 10%;
	text-align: center;
	font-size: 0.75em;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	position: relative;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/*flip text adjustment*/
@media screen and (min-width: 350px) {
	#skills article p {
		padding: 12% 10%;
		font-size: 0.9em;
	}
}

/*profile pic adjustment*/
@media screen and (min-width: 400px) {
	.header_top {
		height: 110px;
	}
	.main_image {
		width: 130px;
		height: auto;
		margin-left: 15px; 
		position: relative;
		top: 44px;
		z-index: 100;
	}
	.header_top #typewrite {
		position: relative; 
		top: -85px; 
		left: 38%; 
		font-size: 0.9em;
		text-align: center;
	}
	.header_top #typewrite1 {
		position: relative; 
		top: -85px; 
		left: 38%;   
		font-size: 0.9em;
	}
}

/*about me larger screens*/
@media screen and (min-width: 450px) {
	#skills article {
		width: 33.3333%;
	}
}

@media screen and (min-width: 600px) {
	.header_top {
		height: 190px;
	}
	.main_image {
		width: 215px;
		height: auto;
		margin-left: 15px; 
		position: relative;
		top: 45px;
		z-index: 100;
	}
	.header_top #typewrite {
		position: relative; 
		top: -145px; 
		left: 42%; 
		z-index: 10; 
		color: whitesmoke;
		font-family: 'Verdana', sans-serif;
		font-size: 1.6em;
	}
	.header_top #typewrite1 {
		position: relative; 
		top: -145px; 
		left: 38%; 
		z-index: 10;  
		color: whitesmoke;
		font-family: 'Verdana', sans-serif;
		font-size: 1.6em;
	}
	#typewrite, #typewrite1 {
		width: 0;
		white-space: nowrap; 
		overflow: hidden;
	}
	.header_top span {
		align-content: center;
	}
	#skills article p {
		padding: 20% 10%;
		font-size: 1em;
	}
}


@media screen and (min-width: 768px) {
	.header_top {
		height: 210px;
	}
	#skills article {
		width: 50%;
	}
	main {
		width: 90%;
		margin-top: 80px;
		padding: 20px 30px;
		border-left: 2px solid #126284; /*#6f0636;*/
		border-right: 2px solid #126284; /*#6f0636;*/
		border-radius: 3px;
		box-shadow: none;
	}
	.main_image {
		width: 220px;
		height: auto;
		margin-left: 30px; 
		position: relative;
		top: 55px;
		z-index: 100;
	}
	.profile_content {
		width: 35%;
		height: auto;
		vertical-align: top;
		display: inline-block;
	}
	.skills {
		text-align: left;
		width: 60%;
		height: auto;
		position: relative;
		margin-top:0; 
		padding-top:0; 
		border-top:0;
		left: 5%;
		padding-left: 5%;
		border-left: 2px solid #126284;
		display: inline-block;
	}
	#skills article p {
		padding: 18% 10% !important;
		font-size: 1em !important;
	}
}

@media screen and (min-width: 1024px) {
	#skills article {
		width: 33.3333%;
	}	
	main {
		width: 84%;
	}
	#skills article p {
		padding: 25% 10%;
		font-size: 1.1em;
	}
}

@media screen and (max-width: 600px) {
	.profile_title {
		font-size: 1.4em;
	}
	
	.profile_content p {
		font-size: 0.95em;
	}
}


/*education styling*/
.education {
	background-image: url('../images/20.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.edu_container {
	margin-left: 0;
	margin-top: 2.5em;
	width: 100%;
}

.timeline ul {
	margin: 0 auto;
	padding: 0;
	padding-bottom: 150px;
}

.timeline ul li:first-child {
	padding-top: 70px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 35px;
  background: whitesmoke;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline time {
	text-decoration: underline;
	font-style: italic;
	font-size: 15px;
	line-height: 25px;
}

.timeline a {
	color: #ef8d3b;
}

.timeline a:hover {
	text-decoration: none;
	color: #efb27f;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
	
  background: transparent;/*#cfe4e7; /*#fad2d2;*/ 
  border-radius: 6px;
  border: 3px solid silver; /*#037a8b; /*#B86060*/
  text-align: center;
  color: whitesmoke;
  font-family: 'Verdana', sans-serif;
}
 
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

/*styles for odd elements*/
.timeline ul li:nth-child(odd) div {
  left: 45px;
}
 
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent silver transparent transparent;
}

/*styles for even elements*/
.timeline ul li:nth-child(even) div {
  left: -439px;
}
 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0px 8px 16px;
  border-color: transparent transparent transparent silver;
}


.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}
 
.timeline ul li.in-view::after {
  background: #2b82aa; /*#0296ab; /*#AF4767;*/
}
 
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
 
.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}
 
.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}
 
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/*education medium screens*/
@media screen and (max-width: 900px) {
  .edu_container {
	margin-left: 0;
	width: 100%;	
  }
	
  .timeline ul li div {
    width: 250px;
  }
	
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

/*education small screens*/
@media screen and (max-width: 600px) {
  .edu_container {
	margin-left: 0;
	padding-left: 10px;
	width: 100px;
  }
	
  .timeline ul li {
    /*padding-left: 20px;*/
  }
   
  .timeline ul li div {
    width: 210px;
  }
   
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent silver transparent transparent;
  }
}


/*projects styling*/
.projects {
	background-image: url('../images/gray.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.project_content {
	padding: 10px;
	
	text-align: justify;
	color: whitesmoke;
	font-family: 'Verdana', sans-serif;
}

.project_link:hover {
	text-decoration: none;
	color: #1e98cc;
}

@media screen and (max-width: 600px) {
	.project_content p {
		font-size: 0.95em;
	}
}


/*footer styling*/
.footer_style {
	margin: 0 auto;
	width: 95%;
	border-top: 1.5px solid #126284; /* #037a8b; /*#AF4767*/
	
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 0.88em;
	color: whitesmoke;
}
