.container-fluid {
	padding: 0px;
}

.navbar {
	border-radius: 0;
	padding-left: 10px;
	margin-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 1px solid #032534;
	border-bottom: 2px solid #032534; /*#6f0636;*/
}

.container-fluid .navbar-header {
	margin-right: 0;
}

.navbar a {
	font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand {
	color: whitesmoke;
}

.navbar-inverse {
	/*background: #832340;*/
	background: #1f6780;
	background-image: url(../images/what.jpg);	
	/*box-shadow: inset 0px 0px 6px 3px rgba(0,0,0, 0.3);*/
}

.navbar-inverse .navbar-nav>li>a {
	color: whitesmoke;
}

.navbar-default .navbar-nav>li>a:hover {
	/*background-color: #AF4767;*/
	background-color: #2b82aa;
}

.navbar-nav>li>a>.padding {
	padding-bottom: 0;
}

.navbar-collapse .collapse .in ul {
	/*padding-right: 12px;*/
}

#bs-example-navbar-collapse-1 {
	text-align: right;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin-right: 0;
}

.hr_border {
	border-top: 2px solid #032534;
}

.navbar-header {
	border-bottom: 1px solid #032534;
}


.carousel_img_position {
	width: 90%;
	position: relative;
	left: 5%;
}

.carousel-indicators li {
	border: 1px solid #032534;
}

.carousel-indicators .active {
	background-color: #2b82aa;
}

.size {
	width: 100%; 
	margin-top: 32px; 
	padding: 8px 0 0 0; 
	border-top: 2px solid #126284;
}

.size_projects {
	width: 100%;  
	padding: 8px 0 0 0; 
}

@media screen and (min-width: 412px) {
	.carousel_img_position {
		width: 75%;
		position: relative;
		left: 12.5%;
	}
}

@media screen and (min-width: 532px) {
	.carousel_img_position {
		width: 60%;
		position: relative;
		left: 20%;
	}
	.size {
		padding: 8px 3% 0 3%; 
	}
	.size_projects {
		padding: 8px 3% 0 3%;
	}
}

@media screen and (min-width: 600px) {
	.main_padding {
		padding-left: 250px;
	}
}

@media screen and (min-width: 768px) {
	.hr_border {
		border-top: none;
	}
	
	.navbar-header {
		border-bottom: 0;
	}
	
	.carousel_img_position {
		width: 50%;
		position: relative;
		left: 25%;
	}
}

@media screen and (min-width: 1024px) {
	.size {
		width: 90%;
	}
	.size_projects {
		width: 100%;
	}
}



