<% include header %>
<body class="education">
  <div class="edu_container">
	<section class="timeline">
	  <ul>
		<li class="in-view">
		  <div>
			<time>23rd of June, 2014</time><br>
			<b>-GEODETIC ENGINEER-</b><br>at Faculty of Civil Engineering - Department of Geodesy<br>Sarajevo, Bosnia & Herzegovina
		  </div>
		</li>
		<li class="in-view">
		  <div>
			<time>23rd of September - 15th of November, 2014</time><br>
			  <b>From GPS and Google Maps to Spatial Computing</b><i> (online course)</i><br>University of Minnesota, Minnesota (USA)<br><a href="https://www.class-central.com/mooc/1766/coursera-from-gps-and-google-maps-to-spatial-computing" target="_blank">Check syllabus for more info</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>15th of September - 16th of November, 2014</time><br>
			<b>An Introduction to Interactive Programming in Python</b><i> (online course)</i><br>Rice University, Texas (USA)<br><a href="http://www.codeskulptor.org/coursera/syllabus.html" target="_blank">Check syllabus for more info</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>6th of October - 17th of November, 2014</time><br>
			<b>Survey of Music Technology</b><i> (online course)</i><br>Georgia Institute of Technology, Georgia (USA)<br><a href="https://www.coursera.org/learn/music-technology#syllabus" target="_blank">Check syllabus for more info</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>14th of January - 18th of February, 2015</time><br>
			<b>Geospatial Intelligence and the Geospatial Revolution</b><i> (online course)</i><br>Pennsylvania State University, Pennsylvania (USA)<br><a href="https://www.class-central.com/mooc/2164/coursera-geospatial-intelligence-the-geospatial-revolution" target="_blank">Check syllabus for more info</a>
		  </div>
		</li> 
		<li>
		  <div>
			<time>16th of November - 25th of December, 2015</time><br>
			<b>Introduction to Photoshop</b><i> (online course)</i><br>Shaw Academy, Dublin (Ireland)<br><a href="https://www.shawacademy.com/courses/photography/learn-adobe-photoshop-online" target="_blank">Check syllabus for more info</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>16th of November - 25th of December, 2015</time><br>
			<b>Introduction to Graphic Design</b><i> (online course)</i><br>Shaw Academy, Dublin (Ireland)<br><a href="https://www.shawacademy.com/courses/design/learn-graphic-design-online" target="_blank">Check syllabus for more info</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>31st of October - 26th of December, 2016</time><br>
			<b>Geographic Information Systems - GIS</b><i> (online specialization consisted of 5 courses)</i><br>University of California, Davis (USA)<br><a href="https://www.coursera.org/specializations/gis" target="_blank">Check syllabus for more info</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>26th of December, 2016 - 22nd of January, 2017</time><br>
			<b>Object Oriented Programming in Java</b><i> (online course)</i><br>University of California, San Diego (USA)<br><a href="https://www.coursera.org/learn/object-oriented-java#syllabus" target="_blank">Check syllabus for more info</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>6th of March - 14th of June, 2017</time><br>
			<strong>BootcampIT</strong><i> (intensive training program for programmers)</i><br>Step Ri in collaboration with U.S. Embassy, Rijeka (Croatia)<br><a href="http://bootcampit.com.hr/" target="_blank">Check BootcampIT web page for more info</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>May - July, 2017</time><br>
			<b>Full Stack Web Development (first, second and fifth course</b><i> (online specialization)</i><br>Hong Kong University of Science and Technology<br><a href="https://codeburst.io/learn-full-stack-web-development-with-coursera-e6998caa18c6" target="_blank">Check this review for more info</a>
		  </div>
		</li>
		<!-- more list items here -->
	  </ul>
	</section>
  </div>

  <script>
	  function isElementInViewport(el) {
		  var rect = el.getBoundingClientRect();
		  return (
			rect.top >= 0 &&
			rect.left >= 0 &&
			rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
			rect.right <= (window.innerWidth || document.documentElement.clientWidth)
		  );
	  }
	  
	  var items = document.querySelectorAll(".timeline li");
 
		// code for the isElementInViewport function

	  function callbackFunc() {
		  for (var i = 0; i < items.length; i++) {
			if (isElementInViewport(items[i])) {
			  items[i].classList.add("in-view");
			}
		  }
	  }
 
	  window.addEventListener("load", callbackFunc);
	  window.addEventListener("scroll", callbackFunc);
  </script>

<%include footer %>