<% include header_hr %>
<body class="education">
  <div class="edu_container">
	<section class="timeline">
	  <ul>
		<li class="in-view">
		  <div>
			<time>23. lipnja 2014.</time><br>
			<b>-INŽENJER GEODEZIJE-</b><br>Građevinski fakultet - Odsjek za geodeziju<br>Sarajevo, Bosna i Hercegovina
		  </div>
		</li>
		<li class="in-view">
		  <div>
			<time>23. rujna - 15. studenog 2014.</time><br>
			  <b>From GPS and Google Maps to Spatial Computing</b><i> (online tečaj)</i><br>University of Minnesota, Minnesota (SAD)<br><a href="https://www.class-central.com/mooc/1766/coursera-from-gps-and-google-maps-to-spatial-computing" target="_blank">Više informacija o tečaju</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>15. rujna - 16. studenog 2014.</time><br>
			<b>An Introduction to Interactive Programming in Python</b><i> (online tečaj)</i><br>Rice University, Texas (SAD)<br><a href="http://www.codeskulptor.org/coursera/syllabus.html" target="_blank">Više informacija o tečaju</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>6. listopada - 17. studenog 2014.</time><br>
			<b>Survey of Music Technology</b><i> (online tečaj)</i><br>Georgia Institute of Technology, Georgia (SAD)<br><a href="https://www.coursera.org/learn/music-technology#syllabus" target="_blank">Više informacija o tečaju</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>14. siječnja - 18. veljače 2015.</time><br>
			<b>Geospatial Intelligence and the Geospatial Revolution</b><i> (online tečaj)</i><br>Pennsylvania State University, Pennsylvania (SAD)<br><a href="https://www.class-central.com/mooc/2164/coursera-geospatial-intelligence-the-geospatial-revolution" target="_blank">Više informacija o tečaju</a>
		  </div>
		</li> 
		<li>
		  <div>
			<time>16. studenog - 25. prosinca 2015.</time><br>
			<b>Introduction to Photoshop</b><i> (online course)</i><br>Shaw Academy, Dublin (Irska)<br><a href="https://www.shawacademy.com/courses/photography/learn-adobe-photoshop-online" target="_blank">Više informacija o tečaju</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>16. studenog - 25. prosinca 2015.</time><br>
			<b>Introduction to Graphic Design</b><i> (online tečaj)</i><br>Shaw Academy, Dublin (Irska)<br><a href="https://www.shawacademy.com/courses/design/learn-graphic-design-online" target="_blank">Više informacija o tečaju</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>31. listopada - 26. prosinca 2016.</time><br>
			<b>Geographic Information Systems - GIS</b><i> (online specializacija koja sadrži pet tečajeva)</i><br>University of California, Davis (SAD)<br><a href="https://www.coursera.org/specializations/gis" target="_blank">Više informacija o tečaju</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>26. prosinca 2016. - 22. siječnja 2017.</time><br>
			<b>Object Oriented Programming in Java</b><i> (online tečaj)</i><br>University of California, San Diego (SAD)<br><a href="https://www.coursera.org/learn/object-oriented-java#syllabus" target="_blank">Više informacija o tečaju</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>6. ožujka - 14. lipnja 2017.</time><br>
			<strong>BootcampIT</strong><i> (intenzivni program osposobljavanja programera)</i><br>Step Ri u suradnji s američkim veleposlanstvom, Rijeka (Hrvatska)<br><a href="http://bootcampit.com.hr/" target="_blank">Više informacija o BootcamIT-u na njihovoj stranici</a>
		  </div>
		</li>
		<li>
		  <div>
			<time>Svibanj - srpanj 2017.</time><br>
			<b>Full Stack Web Development (prvi, drugi i fifth peti tečaj</b><i> (online specijalizacija)</i><br>Hong Kong University of Science and Technology<br><a href="https://codeburst.io/learn-full-stack-web-development-with-coursera-e6998caa18c6" target="_blank">Više informacija o tečaju</a>
		  </div>
		</li>
		<!-- more list items here -->
	  </ul>
	</section>
  </div>

  <script>
	  function isElementInViewport(el) {
		  var rect = el.getBoundingClientRect();
		  return (
			rect.top >= 0 &&
			rect.left >= 0 &&
			rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
			rect.right <= (window.innerWidth || document.documentElement.clientWidth)
		  );
	  }
	  
	  var items = document.querySelectorAll(".timeline li");
 
		// code for the isElementInViewport function

	  function callbackFunc() {
		  for (var i = 0; i < items.length; i++) {
			if (isElementInViewport(items[i])) {
			  items[i].classList.add("in-view");
			}
		  }
	  }
 
	  window.addEventListener("load", callbackFunc);
	  window.addEventListener("scroll", callbackFunc);
  </script>

<%include footer %>