	<p class="footer_style">&copy; Marina Basic</p>
	<script>
		var textWidth = $('#typewrite span').width();
		$('#typewrite').animate( { width: textWidth }, 2700 );
		var time = new Date().getTime();
		setTimeout('secondline()', 2700);
		function secondline() {
			var text1Width = $('#typewrite1 span').width();
			$('#typewrite1').animate( { width: text1Width }, 2700 );
		}	
		
		/*$("a.hr").click(function() {
			document.getElementById("mn_1").
		
		});*/
	</script>
</body>
</html>