<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Marina Basic">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<title>Marina Basic CV</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/custom.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="/js/bootstrap.min.js"></script>
	</head>
	
	<div class="container-fluid">
	 <nav class="navbar navbar-inverse navbar-default" role="navigation">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Curriculum Vitae</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="/omeni">O meni</a></li>
			<li><a href="/obrazovanje">Obrazovanje</a></li>
			<li><a href="/projekti">Projekti</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li class="hr_border"><a href="/projekti">HR</a></li>
			<li><a href="/projects">EN</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	</div><!-- end container -->