<% include main_header_hr %>
<body class="about">
	<main>
	  <div>
	   <div class="profile_content">
			<h3 class="profile_title">O meni</h3>
			<p>Upoznata sam sa programiranjem već duže vrijeme, a ozbiljnije sam se za njega počela interesirati tek kada sam završila fakultet 2014. godine. Otada, programiranje je moj hobi, a nadam se da bi se uskoro taj hobi mogao pretvoriti i u karijeru.</p>
			<p>Zbog ljubavi prema programiranju počela sam čitati knjige o Javi (programski jezik koji sam neko vrijeme učila na faksu), pohađati različite online tečajeve i video lekcije. Na jednom takvom tečaju podučavali su Python kroz programiranje kratkih, ali uzbudljivih igrica. Sve to me dovelo do toga da se prijavim za BootcampIT, što smatram najvažnijim iskustvom jer odlazak na BootcampIT upravo sada oblikuje smjer mene kao developera. BootcampIT je intenzivni program osposobljavanja programera koji je počeo u ožujku 2017, a trajao je tri mjeseca. Nas odabrane kandidate su dva mjeseca učili C++ programski jezik, a kasnije smo dobili priliku raditi u timovima na različitim izazovnim projektima. Za rad na tim projektima samo smo se naučili JavaScript, HTML i CSS.</p>
		    <p>Mogla bih još pisati o tome zašto mi je programiranje zabavno i zanimljivo, ali mislim da je bolje da sami to otkrijete razgledavanjem ostatka ovog CV website-a.</p><br>
		    <p>Radno iskustvo i druge detalje možete saznati preuzimanjem ove verzije životopisa <a href="../MarinaBasic_CV.pdf" target = "_blank"> <i class="ion-android-download" style="font-size: 1.5em;"></i></a></p>
	   </div>
	   <div class="skills">
		   <h3 class="profile_title">Vještine</h3>
		   <section id="skills">
			  <article id="1">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/1.png"/>
						</div>
						<div class="back">
							<p>Most profficient in native JavaScript. Comfortable with Ajax and jQuery.</p>
						</div>
					</div>
				</div>
			   </article><article id="2">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/2.png"/>
						</div>
						<div class="back">
							<p>This website is served in Node, powered by Express.</p>
						</div>
					</div>
				</div>
			   </article><article id="3">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/3.png"/>
						</div>
						<div class="back">
							<p>MySQL is an old friend of mine. I also met the elephant recently :)</p>
						</div>
					</div>
				</div>
			   </article><article id="4">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/4.png"/>
						</div>
						<div class="back">
							<p>Jumping into C++ is a really good book.</p>
						</div>
					</div>
				</div>
			   </article><article id="5">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/5.png"/>
						</div>
						<div class="back">
							<p>Started with Java, been learning it the longest.</p>
						</div>
					</div>
				</div>
			   </article><article id="6">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/6.png"/>
						</div>
						<div class="back">
							<p>Comfortable with Python, like its efficiency.</p>
						</div>
					</div>
				</div>
			   </article><article id="7">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/7.png"/>
						</div>
						<div class="back">
							<p>Profficient in HTML and CSS, used Bootstrap framework in some of my projects.</p>
						</div>
					</div>
				</div>
			   </article><article id="8">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/photoshop.png"/>
						</div>
						<div class="back">
							<p>Feel comfortable using it, comes in handy often times.</p>
						</div>
					</div>
				</div>
			   </article><article id="9">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/illustrator.png"/>
						</div>
						<div class="back">
							<p>Recently designed some menus with it, feel comfortable using it.</p>
						</div>
					</div>
				</div>
			   </article><article id="10">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/indesign.png"/>
						</div>
						<div class="back">
							<p>Got the basics covered.</p>
						</div>
					</div>
				</div>
			   </article><article id="11">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/11.png"/>
						</div>
						<div class="back">
							<p>Good skills, used frequently, know the basics of Microsoft Access.</p>
						</div>
					</div>
				</div>
			   </article><article id="12">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/12.png"/>
						</div>
						<div class="back">
							<p>Used Windows for most of my life, know CMD, familiar with Linux.</p>
						</div>
					</div>
				</div>
			   </article><article id="13">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/13.png"/>
						</div>
						<div class="back">
							<p>Attended online specialization, good knowledge of ArcMap, ArcCatalog and ArcToolbox.</p>
						</div>
					</div>
				</div>
			   </article><article id="14">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/14.png"/>
						</div>
						<div class="back">
							<p>Very good skills, worked with versions 2002, 2006 and 2014.</p>
						</div>
					</div>
				</div>
			   </article>
		   </section>
	   </div>
	  </div>
	  <div class="container size">
		  <h2 class="profile_title">Certifikati</h2>  
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			  <li data-target="#myCarousel" data-slide-to="3"></li>
			  <li data-target="#myCarousel" data-slide-to="4"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  <div class="item active">
				<img src="../images/certificates/bootcamp.jpg" alt="BootcampIT" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/certificates/Coursera_interactivepython_2014.jpg" alt="Coursera Interactive Python" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/certificates/Coursera_spatialcomputing_2014.jpg" alt="Coursera Spatial Computing" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/certificates/Shawacademy_graphicdesign_2015.jpg" alt="Shaw Academy Graphic Design" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/certificates/Shawacademy_photoshop_2015.jpg" alt="Shaw Academy Photoshop" class="carousel_img_position">
			  </div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
	  </div>
	</main>

</body>

<% include footer %>