<% include main_header %>
<body class="about">
	<main>
	  <div>
	   <div class="profile_content">
			<h3 class="profile_title">About me</h3>
			<p>I've been familiar with programming for a long time, but really became passionate about it when I finished college in 2014. Ever since, I've been doing it as a hobby, hoping that it might turn into a career some day.</p>
			<p>My love for programming has led me to read books about Java (a language that I have been learning for some time back in college), attend various online videos and courses where they taught Python through making short, exciting games, and lastly, it has led me to apply for the BootcampIT, which is the most important experience for me because it's shaping my direction as a developer right now as you're reading this. BootcampIT is an intensive programming course that started in March 2017, and lasted for 3 months. They've taught us, selected candidates, C++ for two months, and later we had the opportunity to work in teams on projects for which we taught ourselves JavaScript, HTML and CSS.</p>
		    <p>I could write a whole lot more about why I find programming interesting and exciting, but I think it's best you take a look around my cv website and see for yourself.</p><br>
		    <p>For work experience and other details download this CV version <a href="../MarinaBasic_CV_en.pdf" target = "_blank"> <i class="ion-android-download" style="font-size: 1.5em;"></i></a></p>
	   </div>
	   <div class="skills">
		   <h3 class="profile_title">Skills</h3>
		   <section id="skills">
			  <article id="1">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/1.png"/>
						</div>
						<div class="back">
							<p>Most proficient in native JavaScript. Comfortable with Ajax and jQuery.</p>
						</div>
					</div>
				</div>
			   </article><article id="2">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/2.png"/>
						</div>
						<div class="back">
							<p>This website is served in Node, powered by Express.</p>
						</div>
					</div>
				</div>
			   </article><article id="3">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/3.png"/>
						</div>
						<div class="back">
							<p>MySQL is an old friend of mine. I also met the elephant recently :)</p>
						</div>
					</div>
				</div>
			   </article><article id="4">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/4.png"/>
						</div>
						<div class="back">
							<p>Jumping into C++ is a really good book.</p>
						</div>
					</div>
				</div>
			   </article><article id="5">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/5.png"/>
						</div>
						<div class="back">
							<p>Started with Java, been learning it the longest.</p>
						</div>
					</div>
				</div>
			   </article><article id="6">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/6.png"/>
						</div>
						<div class="back">
							<p>Comfortable with Python, like its efficiency.</p>
						</div>
					</div>
				</div>
			   </article><article id="7">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/7.png"/>
						</div>
						<div class="back">
							<p>Profficient in HTML and CSS, used Bootstrap framework in some of my projects.</p>
						</div>
					</div>
				</div>
			   </article><article id="8">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/photoshop.png"/>
						</div>
						<div class="back">
							<p>Feel comfortable using it, comes in handy often times.</p>
						</div>
					</div>
				</div>
			   </article><article id="9">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/illustrator.png"/>
						</div>
						<div class="back">
							<p>Recently designed some menus with it, feel comfortable using it.</p>
						</div>
					</div>
				</div>
			   </article><article id="10">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/indesign.png"/>
						</div>
						<div class="back">
							<p>Got the basics covered.</p>
						</div>
					</div>
				</div>
			   </article><article id="11">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/11.png"/>
						</div>
						<div class="back">
							<p>Good skills, used frequently, know the basics of Microsoft Access.</p>
						</div>
					</div>
				</div>
			   </article><article id="12">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/12.png"/>
						</div>
						<div class="back">
							<p>Used Windows for most of my life, know CMD, familiar with Linux.</p>
						</div>
					</div>
				</div>
			   </article><article id="13">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/13.png"/>
						</div>
						<div class="back">
							<p>Attended online specialization, good knowledge of ArcMap, ArcCatalog and ArcToolbox.</p>
						</div>
					</div>
				</div>
			   </article><article id="14">
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<img src="../images/skills/14.png"/>
						</div>
						<div class="back">
							<p>Very good skills, worked with versions 2002, 2006 and 2014.</p>
						</div>
					</div>
				</div>
			   </article>
		   </section>
	   </div>
	  </div>
	  <div class="container size">
		  <h2 class="profile_title">Certificates</h2>  
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			  <li data-target="#myCarousel" data-slide-to="3"></li>
			  <li data-target="#myCarousel" data-slide-to="4"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  <div class="item active">
				<img src="../images/certificates/bootcamp.jpg" alt="BootcampIT" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/certificates/Coursera_interactivepython_2014.jpg" alt="Coursera Interactive Python" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/certificates/Coursera_spatialcomputing_2014.jpg" alt="Coursera Spatial Computing" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/certificates/Shawacademy_graphicdesign_2015.jpg" alt="Shaw Academy Graphic Design" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/certificates/Shawacademy_photoshop_2015.jpg" alt="Shaw Academy Photoshop" class="carousel_img_position">
			  </div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
	  </div>
	</main>

</body>

<% include footer %>
