<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Marina Basic">		
		<title>Marina Basic CV</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/custom.css">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="/js/bootstrap.min.js"></script>
	</head>
	<div class="header_top">
		<img src="../images/profile_circle_1.png" class="main_image">
		<div id="typewrite"><span>"Hi, I'm Marina Bašić,</span></div>
		<div id="typewrite1"><span>and this is my curriculum vitae."</span></div>
	</div>
	<div class="container-fluid">
	 <nav class="navbar navbar-inverse navbar-default" role="navigation">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav main_padding">
			<li><a href="/aboutme">About Me</a></li>
			<li><a href="/education">Education</a></li>
			<li><a href="/projects">Projects</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li class="hr_border"><a class="hr" href="/omeni">HR</a></li>
			<li><a href="/aboutme">EN</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	</div><!-- end container -->
