<% include header_1 %>
<body class="projects">
	<main style="margin-top:50px; padding-top:0px;">
		<div class="container size_projects">
		  <h2 class="profile_title">Dating App</h2>  
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			  <li data-target="#myCarousel" data-slide-to="3"></li>
			  <li data-target="#myCarousel" data-slide-to="4"></li>
			  <li data-target="#myCarousel" data-slide-to="5"></li>
			  <li data-target="#myCarousel" data-slide-to="6"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  <div class="item active">
				<img src="../images/dating_app/1.png" alt="1" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/dating_app/2.png" alt="2" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/dating_app/3.png" alt="3" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/dating_app/4.png" alt="4" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/dating_app/5.png" alt="5" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/dating_app/6.png" alt="6" class="carousel_img_position_p">
			  </div>
		 	  <div class="item">
				<img src="../images/dating_app/7.png" alt="7" class="carousel_img_position_p">
			  </div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
	  
	      <p class="project_content">This responsive dating app was made for practice with Node.js, Babel, Express, JavaScript, jQuery, Ajax, MySQL, HTML5 and CSS3. Users can easily registrate themselves via form that checks availability of their username live. It also checks whether the passwords match, and whether all fields are filled out correctly. Logged in users can look for other users by gender or country from which they come from, and while they are there chat with one another. While they type the name of the country in the input field, suggestions are made live from the letters that the user is currently typing. Suggestions are only the countries where at least one user is living. User can also edit or delete their profile. To check all the features of this application visit <a class="project_link" href="http://45.32.154.89:8080/" target="_blank">OcupidMyHeart</a>.</p>
	  </div>
	  <div class="container size_projects" style="margin-top:32px; border-top:2px solid #126284;">
		  <h2 class="profile_title">Do It List Google Chrome Extension</h2>  
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			  <li data-target="#myCarousel" data-slide-to="3"></li>
			  <li data-target="#myCarousel" data-slide-to="4"></li>
			  <li data-target="#myCarousel" data-slide-to="5"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  <div class="item active">
				<img src="../images/doit_extension/1.png" alt="1" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/doit_extension/2.png" alt="2" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/doit_extension/3.png" alt="3" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/doit_extension/4.png" alt="4" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/doit_extension/5.png" alt="5" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/doit_extension/6.png" alt="6" class="carousel_img_position">
			  </div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
	  	  <p class="project_content">This Google Chrome extension was made as a standalone part of BootCampIT's team project with JavaScript, jQuery, Ajax, Bootstrap, HTML5, CSS3 and use of chrome.storage.sync. User can set date, time and category for their tasks and edit existing tasks. Categories consist of general, private, work, shopping, done, archive and overdue category. There is a reminder for tasks that are due on today's day. All user data is stored in chrome.storage.sync, and automatically synced to any Chrome browser that the user is logged into. You can download this extension on our team's project website <a class="project_link" href="http://www.justdoitlist.com/" target="_blank">JustDoIT</a>.</p>
	  </div>
	  <div class="container size_projects" style="margin-top:32px; border-top:2px solid #126284;">
		  <h2 class="profile_title">Do It List Front-End</h2>  
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			  <li data-target="#myCarousel" data-slide-to="3"></li>
			  <li data-target="#myCarousel" data-slide-to="4"></li>
			  <li data-target="#myCarousel" data-slide-to="5"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  <div class="item active">
				<img src="../images/doit_frontend/1.png" alt="1" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/doit_frontend/2.png" alt="2" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/doit_frontend/3.png" alt="3" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/doit_frontend/4.png" alt="4" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/doit_frontend/5.png" alt="5" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/doit_frontend/6.png" alt="6" class="carousel_img_position_p">
			  </div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
	  	  <p class="project_content">This responsive To Do List app was made solely for practising front-end. Bootstrap, HTML5, CSS3, JavaScript, and jQuery were used, along with some Node.js, Express, Ajax and MySql. It is very similar to the above Google Chrome Extension.</p>
	  </div>
	  <div class="container size_projects" style="margin-top:32px; border-top:2px solid #126284;">
		  <h2 class="profile_title">Other Projects</h2>
		  <p class="project_content">You can check my coding style, and some other programming projects by visiting <a class="project_link" href="https://github.com/mbasic4" target="_blank">mbasic4/github</a>.</p>
	  </div>
	</main>
	
<% include footer %>