<% include header_1_hr %>
<body class="projects">
	<main style="margin-top:50px; padding-top:0px;">
		<div class="container size_projects">
		  <h2 class="profile_title">Dating aplikacija</h2>  
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			  <li data-target="#myCarousel" data-slide-to="3"></li>
			  <li data-target="#myCarousel" data-slide-to="4"></li>
			  <li data-target="#myCarousel" data-slide-to="5"></li>
			  <li data-target="#myCarousel" data-slide-to="6"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  <div class="item active">
				<img src="../images/dating_app/1.png" alt="1" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/dating_app/2.png" alt="2" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/dating_app/3.png" alt="3" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/dating_app/4.png" alt="4" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/dating_app/5.png" alt="5" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/dating_app/6.png" alt="6" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/dating_app/7.png" alt="7" class="carousel_img_position_p">
			  </div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
	  
	      <p class="project_content">Ova responzivna dating aplikacija napravljena je za vježbu pomoću Node.js-a, Babela, Expressa, JavaScripta, jQuerya, Ajaxa, MySQL-a, HTML5 i CSS3. Korisnici se vrlo jednostavno mogu registrirati putem kratkog obrasca koji provjerava dostupnost njihovog korisničkog imena uživo. Provjerava se i podudarnost lozinki, te da li su sva polja pravilno popunjena. Ulogirani korisnici mogu filtrirati druge korisnike po spolu ili državi iz koje korisnici dolaze, a dok su na toj stranici mogu i međusobno razgovarati (chat-ati). Dok korisnik upisuje ime države uživo se izlistavaju prijedlozi imena država koje započinju slovima koje je korisnik utipkao. Prijedlozi su izlisti samo onih država u kojima žive postojeći korisnici. Korisnik također može i uređivati ili obrisati svoj profil. Sve mogućnosti ove aplikacije možete isprobati na <a class="project_link" href="http://45.32.154.89:8080/" target="_blank">OcupidMyHeart</a>.</p>
	  </div>
	  <div class="container size_projects" style="margin-top:32px; border-top:2px solid #126284;">
		  <h2 class="profile_title">Do It lista Google Chrome ekstenzija</h2>  
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			  <li data-target="#myCarousel" data-slide-to="3"></li>
			  <li data-target="#myCarousel" data-slide-to="4"></li>
			  <li data-target="#myCarousel" data-slide-to="5"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  <div class="item active">
				<img src="../images/doit_extension/1.png" alt="1" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/doit_extension/2.png" alt="2" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/doit_extension/3.png" alt="3" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/doit_extension/4.png" alt="4" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/doit_extension/5.png" alt="5" class="carousel_img_position">
			  </div>
			  <div class="item">
				<img src="../images/doit_extension/6.png" alt="6" class="carousel_img_position">
			  </div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
	  	  <p class="project_content">Ova Google Chrome ekstenzija napravljena je kao samostalni dio BootcampIT timskog projekta, a uz pomoć JavaScripta, jQuerya, Ajaxa, Bootstrapa, HTML5, CSS3 i korištenjem chrome.storage.sync-a. Korinsik može namjestiti datum, vrijeme i kategoriju za svoj zadatak. Kategorije se sastoje od generalne, privatne, poslovne kategorije i kupovnog popisa. Postoji i kategorija za zadatke koji su gotovi, arhivirani i kojima je istekao rok, te podsjetnik za zadatke kojima rok istječe tekućeg dana. Podaci korisnika spremaju se u chrome.storage.sync i automatski su sinkronizirani sa svim Chrome preglednicima u kojima je korisnik ulogiran. Ekstenzija se može preuzeti na stranici našeg tima <a class="project_link" href="http://www.justdoitlist.com/" target="_blank">JustDoIT</a>.</p>
	  </div>
	  <div class="container size_projects" style="margin-top:32px; border-top:2px solid #126284;">
		  <h2 class="profile_title">Do It List Front-End</h2>  
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			  <li data-target="#myCarousel" data-slide-to="3"></li>
			  <li data-target="#myCarousel" data-slide-to="4"></li>
			  <li data-target="#myCarousel" data-slide-to="5"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  <div class="item active">
				<img src="../images/doit_frontend/1.png" alt="1" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/doit_frontend/2.png" alt="2" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/doit_frontend/3.png" alt="3" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/doit_frontend/4.png" alt="4" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/doit_frontend/5.png" alt="5" class="carousel_img_position_p">
			  </div>
			  <div class="item">
				<img src="../images/doit_frontend/6.png" alt="6" class="carousel_img_position_p">
			  </div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
	  	  <p class="project_content">Ova responzivna aplikacija To Do lista napravljena je isključivo za vježbanje front-enda. Za njenu izradu korišteni su Bootstrap, HTML5, CSS3, JavaScript i jQuery, uz malu pomoć Node.js-a, Expressa, Ajaxa i MySql-a. Aplikacija je jako slična prijašnjoj Google Chrome ekstenziji.</p>
	  </div>
	  <div class="container size_projects" style="margin-top:32px; border-top:2px solid #126284;">
		  <h2 class="profile_title">Ostali projekti</h2>
		  <p class="project_content">Stil pisanja koda, kao i neke ostale projekte možete pogledati na mojoj github stranici <a class="project_link" href="https://github.com/mbasic4" target="_blank">mbasic4/github</a>.</p>
	  </div>
	</main>
	
<% include footer %>